body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-391px;
  width:412px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Fett', 'Arial Standard', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:257px;
  width:201px;
  height:37px;
  display:flex;
  font-family:'Arial Fett', 'Arial Standard', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u39 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u39_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u40_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Fett', 'Arial Standard', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:318px;
  width:411px;
  height:21px;
  display:flex;
  font-family:'Arial Fett', 'Arial Standard', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u40 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u40_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42 label {
  left:0px;
  width:100%;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:375px;
  width:191px;
  height:15px;
  display:flex;
}
#u42 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u42_img.selected {
}
#u42.selected {
}
#u42_img.disabled {
}
#u42.disabled {
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:175px;
  word-wrap:break-word;
  text-transform:none;
}
#u42_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u43 label {
  left:0px;
  width:100%;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:422px;
  width:191px;
  height:15px;
  display:flex;
}
#u43 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u43_img.selected {
}
#u43.selected {
}
#u43_img.disabled {
}
#u43.disabled {
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:175px;
  word-wrap:break-word;
  text-transform:none;
}
#u43_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u44 label {
  left:0px;
  width:100%;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:474px;
  width:191px;
  height:15px;
  display:flex;
}
#u44 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u44_img.selected {
}
#u44.selected {
}
#u44_img.disabled {
}
#u44.disabled {
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:175px;
  word-wrap:break-word;
  text-transform:none;
}
#u44_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u45_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:534px;
  width:140px;
  height:40px;
  display:flex;
}
#u45 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u45_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u46_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:534px;
  width:140px;
  height:40px;
  display:flex;
}
#u46 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u46_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
